@using LeaveManagementSystem.Services.LeaveRequests
@model IEnumerable<LeaveReqestReadOnlyVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Leave Requests List";

	string GetStatusClass(LeaveRequestStatusEnum status) => status switch
	{
		LeaveRequestStatusEnum.Approved => "success",
		LeaveRequestStatusEnum.Rejected => "danger",
		LeaveRequestStatusEnum.Pending => "warning",
		LeaveRequestStatusEnum.Cancelled => "dark",
		_ => "secondary"
	};
}

<h1>Index</h1>

<p>
	<a asp-controller="LeaveRequest" asp-action="Create" class="btn btn-primary">Request Leave</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.LeaveType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumberOfDays)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LeaveRequestStatus)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.LeaveType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumberOfDays)
				</td>
				<td>
					<span class="badge rounded-pill bg-@GetStatusClass(item.LeaveRequestStatus)">@item.LeaveRequestStatus.ToString()</span>
				</td>
				<td>
					@if (item.LeaveRequestStatus == LeaveRequestStatusEnum.Pending)
					{
						<button data-id="@item.LeaveRequestID" class="btn btn-danger cancelBtn">Cancel</button>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
<form id="cancelForm" asp-action="Cancel">
	<input type="hidden" name="leaveRequestId" id="LeaveRequestID" />
</form>
@section Scripts {
	<script>
		$(function () {
			$('.cancelBtn').click(function (e) {
				Swal.fire({
					title: "Are you sure?",
					text: "You will not be able to recover this request!",
					icon: "warning",
					showCancelButton: true,
					confirmButtonText: "Yes, cancel it!",
					cancelButtonText: "No, keep it"
				}).then((result) => {
					if (result.isConfirmed) {
						var btn = $(this);
						var leaveRequestId = btn.data('id');
						$('#LeaveRequestID').val(leaveRequestId);
						$('#cancelForm').submit();
					}
				});
			});
		});
	</script>
}